.reply-trigger-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.own-message-reply {
  left: -35px;
}

.other-message-reply {
  right: -65px;
}
@media screen and (max-width: 340px) {
  .own-message-reply {
    left: -30px;
  }
}
