@import "../node_modules/bulma/bulma.sass";

// Global styles
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Variables
$base-color: rgb(84, 89, 230);

html {
  background: white;
}

html,
body {
  text-align: center;
  min-height: 100%;
  font-family: "Nunito", sans-serif;
}
