@import "../../App.scss";

.chat-message-container {
  display: grid;
  grid-template-columns: 70%;
  margin-top: 5px;
  margin-right: 20px;

  &:hover {
    .chat-message-delete,
    .reaction-emotes-container,
    .reply-trigger-container,
    .forward-container {
      display: block;
    }
  }

  .chat-message-content {
    display: grid;
    position: relative;

    .message-reaction-emotes-container {
      position: absolute;
      background-color: rgb(40, 40, 40);
      border: 4px solid rgb(30, 30, 30);
      border-radius: 100%;
      width: 30px;
      height: 30px;
      right: -15px;
      bottom: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      transition: background-color 0.5s, border 0.5s;
    }
  }

  .chat-message-text {
    padding: 9px 14px;
    margin-bottom: 5px;
    text-align: left;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    word-break: break-all;

    .chat-message-deleted {
      font-style: italic;
      text-decoration: line-through;
      opacity: 0.7;
      font-size: 0.9em;
    }

    .chat-message-reply-data {
      border-left: 3px solid;
      padding-left: 5px;
      opacity: 0.8;
      font-size: 0.9em;
      margin-bottom: 5px;
    }
  }

  .chat-message-time {
    opacity: 0.5;
    font-size: 0.8rem;
  }

  .chat-message-user-image {
    border-radius: 100%;
    align-self: end;
    margin-bottom: 5px;
    object-fit: cover;
    width: 25px;
    height: 25px;
  }
}

.other-chat-message {
  justify-items: start;

  .chat-message-content {
    grid-template-columns: 25px 1fr;
    gap: 10px;
  }

  .chat-message-text {
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(40, 40, 40);
    border-radius: 20px 20px 20px 0;
  }

  .video,
  .image-small {
    border-radius: 20px 20px 20px 0;
  }

  .chat-message-time {
    // margin of image width + gap between image and text
    margin-left: 35px;
  }
}

.own-chat-message {
  justify-content: end;
  justify-items: end;
  margin-right: 35px;
  position: relative;

  .chat-message-text {
    border: 1px solid;
    border-radius: 20px 20px 0 20px;
  }

  .video,
  .image-small {
    border-radius: 20px 20px 0 20px;
  }

  .is-displayed-indicator {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    object-fit: cover;
    position: absolute;
  }
}
