.reaction-emotes-container {
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  display: none;

  .reaction-emotes-panel {
    display: flex;
    position: fixed;
    bottom: 40px;
    left: -75px;
    padding: 10px 5px;
    background-color: rgb(40, 40, 40);
    transition: background-color 0.5s;
    border-radius: 10px;
  }
}
