.settings-container {
  .settings-button {
    padding: 0;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background: rgb(40, 40, 40);
    border: none;
    color: #eee;
    transition: all 0.5s;

    &:focus,
    &:hover {
      color: #eee;
      box-shadow: none !important;
    }
  }

  .dropdown-content {
    text-align: left;
    background: rgb(40, 40, 40);

    .dropdown-item {
      color: #eee;
    }

    .select-theme {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  .break {
    margin: 5px 0;
    background-color: #eee;
  }

  .logout {
    &:hover {
      background-color: inherit;
    }
  }
}
