.welcome-message {
  position: absolute;
  z-index: 1;
  width: 60%;
  left: 10%;
  transform: translateX(-10%);
  top: 140px;

  @media screen and (max-width: 1024px) {
    top: 100px;
  }

  @media screen and (max-width: 640px) {
    display: none;
  }

  .big {
    font-size: 5vw;
    font-weight: bold;
    opacity: 0;
  }
  .small {
    font-size: 1.8vw;
    opacity: 0;
  }
}

.side-container {
  width: 250px;
  height: 100%;
  position: fixed;
  right: 0;
  z-index: 100;
  background-color: gray;
}
