.form {
  max-width: 768px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  color: white;
  overflow-x: hidden;

  .social-sign-buttons-container {
    display: flex;

    // facebook button wrapper is a span element
    span {
      width: 100%;
    }
  }

  .line-text {
    font-size: 22px;
    position: relative;
    top: 16.5px;
    background-color: rgb(30, 30, 30);
    display: inline-block;
    padding: 0 20px;
  }

  .line {
    height: 1px;
    background-color: white;
    margin-bottom: 40px;
  }

  .title {
    color: white;
    font-size: 40px;

    @media screen and (max-width: 420px) {
      font-size: 30px;
    }
  }

  .info {
    a:hover {
      text-decoration: underline;
      color: inherit;
    }
  }

  .forgot {
    margin-top: -10px;
  }
}
