@import "../../App.scss";

.form {
  max-width: 768px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  color: white;

  .social-sign-buttons-container {
    display: flex;

    .facebook-button {
      background-color: #3b5998;
      border-color: #3b5998;
      color: white;
      margin-right: 10px;
    }

    .google-button {
      background-color: #db3236;
      border-color: #db3236;
      color: white;
      margin-left: 10px;
    }
  }

  .line-text {
    font-size: 22px;
    position: relative;
    top: 16.5px;
    background-color: rgb(30, 30, 30);
    display: inline-block;
    padding: 0 20px;
  }

  .line {
    height: 1px;
    background-color: white;
    margin-bottom: 40px;
  }

  .title {
    color: white;
    font-size: 40px;

    @media screen and (max-width: 420px) {
      font-size: 30px;
    }
  }

  .info {
    a:hover {
      text-decoration: underline;
      color: inherit;
    }
  }

  .forgot {
    margin-top: -10px;
  }

  .message {
    clear: both;
    display: block;
    color: white;
    padding: 1px 0;
    margin-top: 30px;
  }
}

.control {
  margin: 20px 0;

  .input {
    background-color: rgb(40, 40, 40);
    transition: box-shadow 0.4s;
    box-shadow: 0 0 0 0em $base-color;

    &:focus {
      box-shadow: 0 0 0 0.1em $base-color !important;
    }

    &::placeholder {
      color: rgb(219, 219, 219);
    }
  }

  .is-error {
    box-shadow: 0 0 0 0.1em hsl(348, 100%, 61%) !important;
  }
}

.button {
  width: 100%;
  max-width: 768px;
  margin: 10px 0;
}
