$dark-color: rgb(40, 40, 40);

.chat-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .file-container {
    position: absolute;
    bottom: 60px;
    width: calc(100% * 5 / 7);
    height: 40px;
    border-top: 0.5px solid rgba(193, 193, 193, 0.25);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
    padding-top: 12px;

    .file-input {
      display: none;

      & + label {
        cursor: pointer;
        height: 40px;
        width: 40px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(40, 40, 40);
        border-radius: 100%;
        transition: background-color 0.5s;
      }
    }

    .remove-file-button {
      height: 40px;
      width: 40px;
      margin-left: 10px;
      background-color: rgb(40, 40, 40);
      border-color: rgb(40, 40, 40);
      color: hsl(348, 100%, 61%);
      margin-right: 10px;
    }
  }

  .submit-button {
    margin: 15px 0;
    margin-bottom: 0;
    margin-right: 20px;
    background-color: $dark-color;
    color: white;
    border-color: $dark-color;
    transition: all 0.5s;

    &:hover {
      color: white;
      border-color: $dark-color;
    }

    &:disabled {
      background-color: $dark-color;
      border-color: $dark-color;
    }
  }

  @media screen and (max-width: 768px) {
    grid-column: span 2;

    .file-container {
      width: 100%;
    }
  }
}
