@import "../../App.scss";

.form-input-container {
  margin: 20px 0;

  .input {
    background-color: rgb(40, 40, 40);
    transition: box-shadow 0.4s;
    box-shadow: 0 0 0 0em $base-color;

    &:focus {
      box-shadow: 0 0 0 0.1em $base-color !important;
    }

    &::placeholder {
      color: rgb(219, 219, 219);
    }
  }

  .is-error {
    box-shadow: 0 0 0 0.1em hsl(348, 100%, 61%) !important;
  }
}
