.home-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 10px 200px 10px;
  margin-bottom: 200px;

  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
  }

  .section-text {
    width: 500px;
    text-align: left;

    @media screen and (max-width: 1216px) {
      margin-left: 30px;
    }

    @media screen and (max-width: 1000px) {
      margin-left: 0;
    }

    .section-text-big {
      font-size: 48px;
      font-weight: bold;
      line-height: 60px;

      @media screen and (max-width: 550px) {
        font-size: 30px;
        line-height: 40px;
      }
    }

    .section-text-small {
      font-size: 20px;

      @media screen and (max-width: 16px) {
        font-size: 30px;
      }
    }
  }

  .section-image {
    width: 500px;

    @media screen and (max-width: 1216px) {
      margin-left: 30px;
    }

    @media screen and (max-width: 1000px) {
      margin-left: 0;
    }
  }
}

.mobile-welcome-message {
  @media screen and (min-width: 641px) {
    display: none;
  }
}

.wrap-reverse {
  @media screen and (max-width: 1000px) {
    flex-wrap: wrap-reverse;
  }
}
