@import "../../App.scss";

$text-dark: #333;
$theme-light: #eee;
$theme-dark: rgb(40, 40, 40);

.main-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 70px calc(100vh - 140px) 70px;
  color: $theme-light;
  background-color: $dark-color;
  transition: background-color 0.5s;
  overflow-x: hidden;

  .message-action-trigger {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: border-radius 0.5s;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $theme-dark;
      opacity: 1;
      border-radius: 100%;
    }
  }
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background-color: #666;
}

// LIGHT THEME STYLES

.theme-light {
  background-color: white;
  color: $text-dark;
  transition: background-color 0.5s, color 0.5s;

  .chat-search-container {
    background-color: white;
  }

  .chat-input-container {
    .input {
      background-color: $theme-light;
      transition: background-color 0.5s;

      &::placeholder {
        color: $text-dark;
        transition: color 0.5s;
      }
    }

    .chat-input {
      color: $text-dark;
      transition: color 0.5s;
    }
  }

  .active-conversation {
    background-color: $theme-light;
    transition: background-color 0.5s;
  }

  .other-chat-message {
    .chat-message-text {
      background-color: $theme-light;
      border: 1px solid $theme-light;
      transition: background-color 0.5s, border 0.5s;
    }
  }

  .message-reaction-emotes-container {
    background-color: $theme-light !important;
    border: 4px solid white !important;
  }

  .message-action-trigger {
    &:hover {
      background-color: $theme-light;
    }
  }

  .reaction-emotes-panel {
    background-color: $theme-light !important;
  }

  .settings-container {
    .settings-button {
      background: $theme-light;
      color: $text-dark;

      &:focus,
      &:hover {
        color: $text-dark;
      }
    }

    .dropdown-content {
      background: $theme-light;

      .dropdown-item {
        color: $text-dark;
      }
    }

    .break {
      background-color: rgb(40, 40, 40);
    }
  }

  .chat-bar-container {
    .return-icon {
      color: $text-dark;
    }
  }

  .chat-form-container {
    .submit-button {
      background-color: $theme-light;
      color: $text-dark;
      border-color: $theme-light;

      &:hover {
        color: $text-dark;
        border-color: $theme-light;
      }

      &:disabled {
        background-color: $theme-light;
        border-color: $theme-light;
      }
    }

    .file-container {
      .file-input {
        & + label {
          background-color: $theme-light;
        }
      }

      .remove-button {
        background-color: $theme-light;
        border-color: $theme-light;
      }
    }

    @media screen and (max-width: 768px) {
      grid-column: span 2;
    }
  }

  .chat-container {
    .scroll-down-button {
      background-color: $theme-light;
    }
  }
}
